.firstViewPic
  = image_tag 'header-images.jpg', alt: 'ログイン画面にだすいい感じの画像'

%body.form_body
  = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
    
    .field
      = f.label :email, class: 'form_text'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form_box'

    .field
      = f.label :password, class: 'form_text'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'form_box'

    = render "users/shared/links"

    .actions
      = f.submit "LOGIN", class: 'form_button'
