- if controller_name != 'sessions'
  = link_to "ログインする", new_session_path(resource_name), class: 'url_linker'
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "アカウントを登録する", new_registration_path(resource_name), class: 'url_linker'
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "パスワードを忘れましたか？", new_password_path(resource_name), class: 'url_linker'
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "確認が取れませんでしたか?", new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "ロック解除の指示を受け取らなかったですか？", new_unlock_path(resource_name)
  %br/
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "#{OmniAuth::Utils.camelize(provider)} でログインする", omniauth_authorize_path(resource_name, provider)
    %br/
