= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.text_area :word, class: 'form_box', placeholder: 'Whats on your mind?'

  .field
    = f.file_field :images, multiple: true

  .actions
    = link_to 'Cancel', posts_path

    = f.submit 'Post'
